html, body {
  width:1920px;                                            /* Set to your channel's resolution */
  height:1080px;                                           /* Set to your channel's resolution */
  margin:0;                                                /* Use all available space */
  padding:0;                                               /* Use all available space */
  background:transparent;                                  /* The HTML consumer actually makes your background transparent by default, unless a color or image is specified - but this might be usefull when debugging in browsers */
  overflow:hidden;                                         /* Hide any overflowing elements - to disable scollbars */
  -webkit-font-smoothing:antialiased !important;           /* Set aliasing of fonts - possible options: none, antialiased,  subpixel-antialiased */
}

html {
  overflow: auto;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial;
  font-size: 40px;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 22pt;
  /* -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #888888;
  text-shadow: 2px 2px 1px #000000; */
}

body > div
{
  position: absolute;
}

.root-element {
  opacity: 0;
  transition: opacity 1s;
}

.root-element-display {
  opacity: 1;
  transition: opacity 1s;
}
